@{
    Layout = "/Views/Shared/_Template.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>商品分类</title>
    <link rel="stylesheet" href="/Content/css/good_kinds.css" />
</head>

<body>
    <div>
        <div class="left_kinds">
            <ul class="kind-nav-list">

                <li style="background:#f10180;">
                    <a href="#women"><span>品质女装</span></a>
                </li>

                <li>
                    <a href="#men">潮流男装</a>
                </li>

                <li>
                    <a href="#bag"><span>时尚鞋包</span></a>
                </li>

                <li>
                    <a href="#beauty"><span>美妆个护</span></a>
                </li>

                <li>
                    <a href="#sports"><span>运动户外</span></a>
                </li>

                <li class="nav-item  nav-digital">
                    <a href="#digital"><span>家电数码</span></a>
                </li>

                <li>
                    <a href="#kid"><span>母婴用品</span></a>
                </li>

                <li>
                    <a href="#jewelry"><span>手表配饰</span></a>
                </li>

                <li>
                    <a href="#home"><span>居家用品</span></a>
                </li>

                <li>
                    <a href="#food"><span>美食专区</span></a>
                </li>

                <li>
                    <a href="#global"><span>唯品国际</span></a>
                </li>

                <li class="nav-item  nav-lux">
                    <a href="#lux"><span>爱丽奢</span></a>
                </li>

                <li>
                    <a href="#life"><span>唯品生活</span></a>
                </li>
            </ul>
        </div>
        <div class="content_kinds">
            <div class="women" id="women">
                <span style="font-weight: 900; font-size: 16px;">品质女装</span>
                <ul class="frist">
                    <li>
                        <div class="img">
                            <img src="http://a.vpimg4.com/upload/category/2017/05/02/74/b01c0113-40b8-4c5e-a169-72a82aec5ee4.jpg" href="#" />
                        </div>
                        <div class="kinds1">
                            <span style="font-weight: 800;"><a href="/Home/List?code1=1&code2=1&code3=0">女上装</a></span>
                            <br />
                            <a href="/Home/List?code1=1&code2=1&code3=1">T恤</a>
                            <a href="/Home/List?code1=1&code2=1&code3=2">衬衫</a>
                            <a href="/Home/List?code1=1&code2=1&code3=3">polo衫</a>
                            <a href="#">背心</a>
                            <a href="#">打底衫</a>
                            <a href="#">针织衫</a>
                            <a href="#">小西装</a>
                            <a href="#">风衣</a>
                            <a href="#">卫衣</a>
                            <a href="#">外套</a>
                            <a href="#">夹克</a>
                            <a href="#">马夹</a>
                            <a href="#">毛衣</a>
                            <a href="#">大衣</a>
                            <a href="#">羽绒服</a>
                            <a href="#">棉衣</a>
                            <a href="#">皮衣皮草</a>
                        </div>
                    </li>

                    <li>
                        <div class="img">
                            <img src="http://a.vpimg4.com/upload/category/2017/05/02/5/d049f66a-13b3-41d9-8d74-0406597f092a.jpg" href="#" />
                        </div>
                        <div class="kinds2">
                            <span style="font-weight: 800;"><a href="/Home/List?code1=1&code2=2&code3=0">裙装/套装</a></span><br />
                            <a href="/Home/List?code1=1&code2=2&code3=1">包臀裙</a>
                            <a href="/Home/List?code1=1&code2=2&code3=2">连衣裙</a>
                            <a href="/Home/List?code1=1&code2=2&code3=3">半身裙</a>
                            <a href="#">套装</a>
                            <a href="#">泳装</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="http://a.vpimg4.com/upload/category/2017/05/02/127/b3a7cda9-030e-485d-8991-f36b868b9f6e.jpg" href="#" />
                        </div>
                        <div class="kinds3">
                            <span style="font-weight: 800;">女下装</span><br />
                            <a href="#">休闲裤</a>
                            <a href="#">牛仔裤</a>
                            <a href="#">打底裤</a>
                            <a href="#">连体裤</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="http://a.vpimg4.com/upload/category/2017/05/02/151/7c8187f5-c059-4935-9836-2be9e0013751.jpg" href="#" />
                        </div>
                        <div class="kinds4">
                            <span style="font-weight: 800;">内衣/家居服</span><br />
                            <a href="#">文胸</a>
                            <a href="#">内裤</a>
                            <a href="#">睡裙</a>
                            <a href="#">睡衣</a>
                            <a href="#">家居服</a>
                            <a href="#">抹胸/吊带</a>
                            <a href="#">睡袍浴袍</a>
                            <a href="#">塑身内衣</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="http://a.vpimg4.com/upload/category/2016/06/14/182/f6b5aa05-90f4-4476-8607-2fd5acf1212e.jpg" href="#" />
                        </div>
                        <div class="kinds5">
                            <span style="font-weight: 800;">服装配饰</span><br />
                            <a href="#">袜子</a>
                            <a href="#">围巾/披肩</a>
                            <a href="#">帽子</a>
                            <a href="#">手套</a>
                            <a href="#">头巾/方巾</a>
                            <a href="#">丝巾</a>
                            <a href="#">腰带</a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="right_img">
                <p><strong>热门品牌</strong></p>
                <table>
                    <tr>
                        <td><img src="//a.vpimg1.com/upload/brand/201412/2014120816001829933.jpg" /></td>
                        <td><img src="//a.vpimg1.com/upload/brand/201504/2015040211173923983.jpg" /></td>
                    </tr>
                    <tr>
                        <td><img src="//a.vpimg1.com/upload/brand/201404/2014041109304172373.jpg" /></td>
                        <td><img src="//a.vpimg1.com/upload/brand/201506/2015060409275142953.jpg" /></td>
                    </tr>
                    <tr>
                        <td><img src="//a.vpimg1.com/upload/brand/201409/2014092220284616743.jpg" /></td>
                        <td><img src="//c.vpimg1.com/upcb/2016/11/18/104/47289048.jpg" /></td>
                    </tr>
                    <tr>
                        <td><img src="//a.vpimg1.com/upload/brand/201307/2013070409272291563.jpg" /></td>
                        <td><img src="//c.vpimg1.com/upcb/2016/02/29/156/03037140.jpg" /></td>
                    </tr>
                    <tr>
                        <td><img src="//c.vpimg1.com/upcb/2016/11/18/48/09379098.jpg" /></td>
                        <td><img src="//a.vpimg1.com/upload/brand/201403/2014031814253851203.jpg" /></td>
                    </tr>
                </table>
                <div class="change">
                    <span class="active">•</span>
                    <span class="">•</span>
                    <span class="">•</span>
                </div>
            </div>
        </div>
        <div class="men" id="men">
            <span style="font-weight: 900; font-size: 16px;">潮流男装</span>
            <ul>
                <li>
                    <div class="img">
                        <img src="http://a.vpimg4.com/upload/category/2016/08/24/182/4cb54dc9-694d-4aa4-b679-60c6a94675e4.jpg" href="#" />
                    </div>
                    <div class="kinds1">
                        <span style="font-weight: 800;">男上装</span><br />
                        <a href="#">T恤</a>
                        <a href="#">衬衫</a>
                        <a href="#">外套</a>
                        <a href="#">风衣</a>
                        <a href="#">卫衣</a>
                        <a href="#">针织衫</a>
                        <a href="#">毛衣</a>
                        <a href="#">Polo衫</a>
                        <a href="#">皮衣/皮草</a>
                        <a href="#">羽绒服</a>
                        <a href="#">背心/马夹</a>
                    </div>
                </li>

                <li>
                    <div class="img">
                        <img src="http://a.vpimg4.com/upload/category/2016/08/24/13/ebccdd03-9b5b-4518-911e-16e9352495ac.jpg" href="#" />
                    </div>
                    <div class="kinds2">
                        <span style="font-weight: 800;">男下装</span><br />
                        <a href="#">休闲裤</a>
                        <a href="#">牛仔裤</a>
                        <a href="#">西裤</a>
                        <a href="#">泳裤</a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="http://a.vpimg4.com/upload/category/2016/06/14/25/e9063a59-7101-4f4a-8177-079ba3c08c60.jpg" href="#" />
                    </div>
                    <div class="kinds3">
                        <span style="font-weight: 800;">西装/套装</span><br />
                        <a href="#">西服</a>
                        <a href="#">套装</a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="http://a.vpimg4.com/upload/category/2016/08/24/120/c959f3d0-cb07-4d68-96b9-2061082053cd.jpg" href="#" />
                    </div>
                    <div class="kinds4">
                        <span style="font-weight: 800;">内衣/家居服</span><br />
                        <a href="#">内裤</a>
                        <a href="#">背心</a>
                        <a href="#">睡衣</a>
                        <a href="#">内衣</a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="http://a.vpimg4.com/upload/category/2016/08/24/119/e8037836-42d3-421a-a12a-bab70ea0e3f5.jpg" href="#" />
                    </div>
                    <div class="kinds5">
                        <span style="font-weight: 800;">服装配饰</span><br />
                        <a href="#">帽子</a>
                        <a href="#">领带</a>
                        <a href="#">领带夹</a>
                        <a href="#">袖扣</a>
                        <a href="#">头巾/方巾</a>
                        <a href="#">腰带</a>
                        <a href="#">袜子</a>
                        <a href="#">围巾/披肩</a>
                        <a href="#">手套</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right_img2">
            <p><strong>热门品牌</strong></p>
            <table>
                <tr>
                    <td><img src="//a.vpimg1.com/upload/brand/201412/2014120816001829933.jpg" /></td>
                    <td><img src="//a.vpimg1.com/upload/brand/201504/2015040211173923983.jpg" /></td>
                </tr>
                <tr>
                    <td><img src="//a.vpimg1.com/upload/brand/201404/2014041109304172373.jpg" /></td>
                    <td><img src="//a.vpimg1.com/upload/brand/201506/2015060409275142953.jpg" /></td>
                </tr>
                <tr>
                    <td><img src="//a.vpimg1.com/upload/brand/201409/2014092220284616743.jpg" /></td>
                    <td><img src="//c.vpimg1.com/upcb/2016/11/18/104/47289048.jpg" /></td>
                </tr>
                <tr>
                    <td><img src="//a.vpimg1.com/upload/brand/201307/2013070409272291563.jpg" /></td>
                    <td><img src="//c.vpimg1.com/upcb/2016/02/29/156/03037140.jpg" /></td>
                </tr>
                <tr>
                    <td><img src="//c.vpimg1.com/upcb/2016/11/18/48/09379098.jpg" /></td>
                    <td><img src="//a.vpimg1.com/upload/brand/201403/2014031814253851203.jpg" /></td>
                </tr>
            </table>
            <div class="change">
                <span class="active">•</span>
                <span class="">•</span>
                <span class="">•</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/Content/js/good_kinds.js"></script>
</body>
</html>