<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/js/jquery-2.1.0.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/layer/layer.js"></script>
    <script src="~/Content/js/md5.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
